<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Trace"
      internalLogFile="C:\Logs\nlog-internal.log">

	<targets>
		<target name="file"
				xsi:type="File"
				fileName="C:\Logs\api-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=ToString}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="file" />
	</rules>

</nlog>
