<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>

		<!-- Application logs -->
		<target xsi:type="File"
				name="appFile"
				fileName="logs/app-${shortdate}.json">
			<layout xsi:type="JsonLayout">
				<attribute name="timestamp" layout="${longdate}" />
				<attribute name="level" layout="${level}" />
				<attribute name="logger" layout="${logger}" />
				<attribute name="message" layout="${message}" />
				<attribute name="correlationId" layout="${scopeproperty:CorrelationId}" />
				<attribute name="requestPath" layout="${scopeproperty:RequestPath}" />
				<attribute name="httpMethod" layout="${scopeproperty:HttpMethod}" />
			</layout>
		</target>

		<!-- Microsoft warnings -->
		<target xsi:type="File"
				name="msFile"
				fileName="logs/microsoft-${shortdate}.json">
			<layout xsi:type="JsonLayout">
				<attribute name="timestamp" layout="${longdate}" />
				<attribute name="level" layout="${level}" />
				<attribute name="logger" layout="${logger}" />
				<attribute name="message" layout="${message}" />
			</layout>
		</target>

		<!-- Errors only -->
		<target xsi:type="File"
				name="errorFile"
				fileName="logs/error-${shortdate}.json">
			<layout xsi:type="JsonLayout">
				<attribute name="timestamp" layout="${longdate}" />
				<attribute name="level" layout="${level}" />
				<attribute name="logger" layout="${logger}" />
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception:format=toString}" />
			</layout>
		</target>

	</targets>

	<rules>


		<logger name="*" minlevel="Error" writeTo="errorFile" />

		<!-- Microsoft warnings -->
		<logger name="Microsoft.*" minlevel="Warn" writeTo="msFile" final="true" />
		<logger name="System.*" minlevel="Warn" writeTo="msFile" final="true" />

	
		<logger name="LoggingDemo.*" minlevel="Info" writeTo="appFile" />

	</rules>

</nlog>

